---
import "../layouts/control-style.css";
import Done from "../components/done"
import Missing from "../components/missing";
import Close from "../components/close"




---

        <div class="control">
   


            </div>
            
             <div> <Missing client:only/> </div>

              
              <Close client:load/>

           <Done client:load/>
         </div>
  
      </div>
    </div>
  </div>
  
   