  ---
  import "../layouts/control-style.css";
  ---



  <div class="control">
    <div class="div">
      <div class="overlap-group">
        <div></div>
      </div>
      <img class="image" alt="Image" src="image1.png" />
      <div class="textbox">
      </div>
      <div class="overlap">
        <div class="icon-container">
         <button> <img class="question-mark" alt="Question mark" src="question_mark.svg" /></button>
          <input type="text" class="yellowtextbox-icon" placeholder="where he gone" />
        </div>
        <div class="icon-container">
         <button> <img class="close" alt="Close" src="close.svg" /></button>
          <input type="text" class="redtextbox-icon" placeholder="what im working on right now" />
        </div>
        <div class="icon-container">
          <button><img class="done" alt="Done" src="done.svg" /></button>
          <input type="text" class="greentextbox-icon" placeholder="nice message" />
        </div>
      </div>
    </div>
  </div>
