---
import "../layouts/faq-page-style.css"
---



<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

	</head>
    <div class="FAQ">
      <div class="div">
        <div class="overlap">
          <div class="rectangle" />
        </div>
        <img class="image" alt="Image" src="image1.png" />
        <div class="overlap-group">
          <h1 class="h-1">FAQ’s</h1>
          <div class="text-wrapper-3">Q. What is this?</div>
          <div class="text-wrapper-4"><br>A. A smart:tm: blazingly fast:tm: serverless:tm: solution to people knocking on my door<br></div>
          <div class="text-wrapper-5"><br><br><br><br>Q. Why is this happening to me?<br></div>
          <div class="text-wrapper-6"><br><br><br><br><br><br>A. You tried to knock on this door<br><br></div>
          <div class="text-wrapper-7"><br><br><br><br><br><br><br>Q. What do I do next it seems that Kovid is busy<br><br></div>
          <div class="text-wrapper-8"><br><br><br><br><br><br><br><br><br><br>A. Leave?</div>
        </div>
      </div>
    </div>
  
