---
import "../layouts/green-page-style.css";
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

	</head>
<div class="green-page">
  <div class="div">
    <div class="overlap-group">
      <img alt="Image" src="/Rectangle3.png" />
      <div class="overlap">
        <div class="text-wrapper">Feel free to knock and expect the loser to answer</div>
      </div>
      <img class="done" alt="Done" src="/done.svg" />
      <p class="p">Im in the room and Free</p>
    </div>
    <div class="overlap-2">
      <div class="rectangle"></div>

    </div>
    <a href="https://dnd-qr.vercel.app/faqPage"><img class="image" alt="Image" src="/image1.png" /></a>
  </div>
</div>
