---
import { supabase } from '../lib/supabase.client';


const { data, error } = await supabase
  .from('currentPageUrl')
  .select('url')
  .single()

if (error) {
  throw error
}

const redirectUrl = data.url
---

<html>
  <head>
    <meta http-equiv="refresh" content={`0; url=${redirectUrl}`} />
  </head>
  <body>
    <p>Redirecting to <a href={redirectUrl}>{redirectUrl}</a>...</p>
  </body>
</html>
