---
import "../layouts/redPageStyle.css";
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

	</head>
<div class="green-page">
  <div class="div">
    <div class="overlap-group">
      <div class="overlap">
        <div class="text-wrapper">He is working on:<br><br>A new feature for this garbage<br><br>Acads Coping<br></div>
      </div>
      <img class="done" alt="Done" src="/close.svg" />
      <p class="p">IM IN ROOM BUT DONT KNOCK IM BUSY</p>
    </div>
    <div class="overlap-2">
      <div class="rectangle"></div>

    </div>
    <a href="http://localhost:3000/faqPage"><img class="image" alt="Image" src="/image1.png" /></a>
  </div>
</div>