---
import "../layouts/red-page-style.css";
import NiceMessage from "../components/redText ";
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

	</head>
<div class="green-page">
  <div class="div">
    <div class="overlap-group">
      <img alt="Image" src="/Rectangle2.png" />
      <div class="overlap">
        <NiceMessage client:load>
      </div>
      <img class="done" alt="Done" src="/close.svg" />
      <p class="p">IM IN ROOM BUT DONT KNOCK IM BUSY</p>
    </div>
    <div class="overlap-2">
      <div class="rectangle"></div>

    </div>
    <a href="https://dnd-qr.vercel.app/faqPage"><img class="image" alt="Image" src="/image1.png" /></a>
  </div>
</div>