---
import "../layouts/redPageStyle.css";
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

	</head>
<div class="green-page">
  <div class="div">
    <div class="overlap-group">
      <div class="overlap">
        <div class="text-wrapper">He is missing because:</div>
      </div>
      <img class="done" alt="Done" src="/close.svg" />
      <p class="p">IM IN ROOM BUT DONT KNOCK IM BUSY</p>
    </div>
    <div class="overlap-2">
      <div class="rectangle"></div>
      <input type="text" class="text-wrapper-2" style="background-color:#424141" placeholder="Leave a message for me">
    </div>
    <img class="image" alt="Image" src="/image1.png" />
  </div>
</div>